.data-container {
    text-align: center;
    padding: 10%;
}

.link-style {
    color: white;
}

.link-item {
    text-decoration: none;
    color: gray;
}

.link-item:hover {
    color:black;
    text-decoration: none;
}